.messages-page {
  color: wheat;
}
.message-details {
  flex-grow: 1;
}

.recipient-details {
  display: flex;
  align-items: center;
}

.message-label,
.recipient-label {
  font-weight: bold;
  margin-right: 5px;
}

.recipient-name,
.recipient-number {
  margin-right: 5px;
}